@model Finance.Models.Customers

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Customers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name_m)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name_m)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lname_m)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lname_m)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address_m)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address_m)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.District_m)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.District_m)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amphur_m)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amphur_m)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Province_m)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Province_m)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zipcode_m)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zipcode_m)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Career_m)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Career_m)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salary_m)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salary_m)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image_m)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image_m)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_img_m)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_img_m)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusCustomer.StatusType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusCustomer.StatusType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title.titlename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title.titlename)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
