@model IEnumerable<Finance.Models.Payments>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PaymentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Payment_Money)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contracts.ID_Card_m)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customers.Name_m)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameUser)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Payment_Money)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contracts.ID_Card_m)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customers.Name_m)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameUser)
        </td>
    </tr>
}

</table>
