@model Finance.Models.Payments

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Payments</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PaymentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Payment_Money)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Payment_Money)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contracts.ID_Card_m)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contracts.ID_Card_m)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customers.Name_m)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customers.Name_m)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameUser)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PaymentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
