@model IEnumerable<Finance.Models.Contracts>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-bordered" id="example" style="width: 100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date_Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_End)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_Last)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Out_Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Per_Month_Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers.Name_m)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GuaranteeCustomers.Name_g)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.License.LicensePlate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date_Start)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date_End)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date_Last)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Balance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalBalance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Out_Balance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Per_Month_Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customers.Name_m)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GuaranteeCustomers.Name_g)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.License.LicensePlate)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ContractID })
                </td>
            </tr>
        }
    </tbody>
</table>
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet" />


@section scripts{
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready( function () {
            $('#example').DataTable();
        } );
    </script>
}
