@model IEnumerable<Finance.Models.License>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-bordered" id="example" style="width: 100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LicensePlate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicenseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KeepAddressID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.District_l)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amphur_l)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Province_l)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zipcode_l)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicenseStatusDisplay.LicenseStatusName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicenseTypes.InterestName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LicensePlate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LicenseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KeepAddressID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.District_l)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amphur_l)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Province_l)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Zipcode_l)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LicenseStatusDisplay.LicenseStatusName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LicenseTypes.InterestName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.LicenseID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.LicenseID })
                </td>
            </tr>
        }
    </tbody>
</table>

<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet" />


@section scripts{
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready( function () {
            $('#example').DataTable();
        } );
    </script>
}
