@model Finance.Models.Customers

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Customers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name_m)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name_m)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lname_m)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lname_m)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address_m)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address_m)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.District_m)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.District_m)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amphur_m)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amphur_m)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Province_m)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Province_m)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zipcode_m)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zipcode_m)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Career_m)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Career_m)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salary_m)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salary_m)
        </dd>

        <dt>
            รูปถ่าย
        </dt>

        <dd>
            @if (Model.Image_m != null)
            {
                <img src="data:image/png;base64,@Convert.ToBase64String(Model.Image_m)" width="100">
            }
        </dd>

        <dt>
            รูปบัตรประชาชน
        </dt>

        <dd>
            @if (Model.ID_img_m != null)
            {
                <img src="data:image/png;base64,@Convert.ToBase64String(Model.ID_img_m)" width="100">
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusCustomer.StatusType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusCustomer.StatusType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title.titlename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title.titlename)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Card_m }) |
    @Html.ActionLink("Back to List", "Index")
</p>
